$page-bg-color:#F0F4F9; //最底层背景色
$page-bg-card:#fff; //卡片的背景颜色

$border-color:#e0e0e0;           //边框颜色
$border-color-light:#efefef;     //边框亮色
$text-font-color-default:#000;         //文字主色
$text-font-color-subheading:#676767;      //副标题颜色
